@model DoctorFormVM
@section Header {
    Doctor
}
@section loc {
    edit
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Doctor" asp-action="Edit" enctype="multipart/form-data">

            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImageName" />
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Service Name">
                </div>
               
                <div class="form-group">
                    <label asp-for="IsDeleted"></label>
                    <input asp-for="IsDeleted">
                    <span>@(Model.IsDeleted ? "Deleted" : "Active")</span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId">Department</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="Model.Departments"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control">
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">update</button>
            </div>
        </form>
    </div>
</div>
@section script {
    <script src="https://cdn.tiny.cloud/1/d4ibu8e8nuol9gjoru2l8orat5yy0zk40e04b4k4ia5ekibz/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Oct 25, 2024:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
}