@model serviceDetailsVM
@section Header{
    Details

}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details for @Model.Name</h3>
        </div>
       <ul>
    <li>
        Description : @Model.Description
    </li>
            <li>
                CreatedAT : @Model.CreatedAT
            </li>
            <li>
                status : @(Model.IsDeleted ? "Deleted" : "Active")
            </li>
</ul>
    </div>
</div>
